<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <a class="navbar-brand ml-auto" href="{% url 'instaHome'%}"><i class="fa fa-instagram fa-2x"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'instaHome'%}">Instagram <span class="sr-only">(current)</span></a>
      </li> 
    </ul>

    <ul class="navbar-nav mr-auto ml-auto">
      {% if user.is_authenticated %}
         
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
          <input class="form-control mr-sm-2" type="search" name="post" placeholder="Search" aria-label="Search">
        </form>
      
      {% endif %}
    </ul>

    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <a href="{% url 'profile' %}" class="nav-item nav-link ml-2"><i class="fa fa-user-o fa-2x"></i></a>
      <a href="{% url 'new-insta-post' %}" class="nav-item nav-link ml-2">
        <i class="fa fa-plus-circle fa-2x"></i>
      </a>

      <a href="{% url 'logout' %}" class="nav-item nav-link"><i class="fa fa-sign-out fa-2x"></i></a>
      {% else %}
      <a href="{% url 'login' %}" class="nav-item nav-link"><i class="fa fa-sign-in fa-2x"></i></a>
      <a href="{% url 'register' %}" class="nav-item nav-link"><i class="fa fa-arrow-circle-o-up fa-2x"></i>
         Register</a>
      
      {% endif %}
    </ul>
  </div>
</nav>